# Configuration for querying a specific contract

# Set the contract address
CONTRACT_ADDRESS="0x88e6A0c2dDD26FEEb64F039a2c41296FcB3f5640" # wETH-USDC 0.05%

# Output file paths
BASE_DIR="/media/m2_front/research/data"
PROJECT_DIR="trueblocks_lists/uniswap_v3"

# CSV output
FILE_NAME_CSV="2023-11-23_eth_usdc_05_positions.csv"
OUTPUT_FILE_CSV="${BASE_DIR}/${PROJECT_DIR}/${FILE_NAME_CSV}"

# JSON output
FILE_NAME_JSON="2023-11-23_eth_usdc_05_positions.json"
OUTPUT_FILE_JSON="${BASE_DIR}/${PROJECT_DIR}/${FILE_NAME_JSON}"
