# Configuration for querying a specific contract

# Set the contract address
CONTRACT_ADDRESS="0xCBCdF9626bC03E24f779434178A73a0B4bad62eD" # Uni v3 WBTC-WETH 0.3%

# Output file paths
BASE_DIR="/media/m2_front/research/data"

PROJECT_DIR="trueblocks_lists/uniswap_v3/wbtc_weth_03"

# Path Python log
LOG_PATH="${BASE_DIR}/${PROJECT_DIR}/"

# CSV output
FILE_NAME_CSV="2024-02-13_wbtc_weth_03_positions.csv"

OUTPUT_FILE_CSV="${BASE_DIR}/${PROJECT_DIR}/${FILE_NAME_CSV}"

# JSON output
FILE_NAME_JSON="2024-02-13_wbtc_weth_03_positions.json"

OUTPUT_FILE_JSON="${BASE_DIR}/${PROJECT_DIR}/${FILE_NAME_JSON}"
